{% extends "base.html" %}
{% block style %}
    dt { float: left; }
    dd:after { content: '\00a0\00a0'; }
    dl#process dd { 
        float: left;
        margin-left: 2px;
    }
    dl#process dd:last-child { float: none; }
    .red { color: red; }
    .grey { color: grey; }
    .green { color: green; }
    h2#bill { clear: both; }
{% endblock style %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock head %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../../">Sessions</a>
&rsaquo; <a href="../">{{response.session}}</a>{% endblock breadcrumbs %}
{% block content %}
{% set type = response.data.bill.type.0 %}

{# We want date/months with the years in them if we're on a non-current session. #}
{% set date_format='yeardatefull' %}
{% if response.session == response.app.session %}
{% set date_format='datefull' %}
{% endif %}

{% if response.data.bill.action_dates.first %}
<p>
    Here are details on Colorado {{response.chamber}} {{type}} {{response.data.bill.bill_id}}.
    This {{type}} was introduced {{response.data.bill.action_dates.first|datetime_raw|datetime_filter(date_format)}}
    and last acted on {{response.data.bill.action_dates.last|datetime_raw|datetime_filter(date_format)}},
    when it was {{response.data.bill.actions[-1].action|actiontosentence}}.
</p>
{% endif %}

{# This macro is to simplify the left-arrow icon should we want to change it ever #}
{%- macro render_timeline_item(datething, islast) -%}
    {{caller()}}
        <dd>{% if datething == '~' %}<i class="grey fa fa-ellipsis-h"></i>{% else %}{{datething}}{% endif %} <i class="{% if datething == '~' %}grey{% else %}green{% endif %} fa fa-arrow-circle-right"></i></dd>
{%- endmacro -%}

{# These items used to look like this until they got complex and needed to be stuffed into a macro.
    <dt>Passed Senate</dt>
        <dd>{{response.data.bill.action_dates.passed_upper|datetime_raw|datetime_filter|ifnone}}</dd>
    <dt>Passed House</dt>
        <dd>{{response.data.bill.action_dates.passed_lower|datetime_raw|datetime_filter|ifnone}}</dd>
#}

<dl id="process">
    {% set datething = response.data.bill.action_dates.first|datetime_raw|datetime_filter %}
    {% call render_timeline_item(datething, '') %}<dt>Introduced</dt>{% endcall %}
{% if response.data.bill.chamber == 'lower' %}
    {% set datething = response.data.bill.action_dates.passed_lower|datetime_raw|datetime_filter|ifnone %}
    {% call render_timeline_item(datething, '') %}<dt>Passed House</dt>{% endcall %}
    {% set datething = response.data.bill.action_dates.passed_upper|datetime_raw|datetime_filter|ifnone %}
    {% call render_timeline_item(datething, '') %}<dt>Passed Senate</dt>{% endcall %}
{% else %}
    {% set datething = response.data.bill.action_dates.passed_upper|datetime_raw|datetime_filter|ifnone %}
    {% call render_timeline_item(datething, '') %}<dt>Passed Senate</dt>{% endcall %}
    {% set datething = response.data.bill.action_dates.passed_lower|datetime_raw|datetime_filter|ifnone %}
    {% call render_timeline_item(datething, '') %}<dt>Passed House</dt>{% endcall %}
{% endif %}
    <dt>Signed</dt>
        <dd>{{response.data.bill.action_dates.signed|datetime_raw|datetime_filter|ifnone}}</dd>
</dl>

{% if response.data.bill.versions.0 %}
<h2 id="bill">The {{type|title}}</h2>
<iframe src="{{response.data.bill.versions.0.url}}" seamless style="width:100%; height:500px; max-width:650px;"></iframe>
{% endif %}

<h2 id="timeline">{{type|title}} Timeline</h2>
<ul>
{% for item in response.data.bill.actions %}
    <li>{{item.date|datetime_raw|datetime_filter}}: {{item.action|actiontosentence|link_committees(response.data.bill.chamber,item.related_entities)|capfirst|safe}}</li>
{% endfor %}
</ul>

<h2 id="sponsors">Sponsors</h2>
<ol>
{% for item in response.data.bill.sponsors %}
    <li>{{item.name|title}}'s a {{item.type}} sponsor <span class="dev" style="display:none;">{{item.leg_id}}</span></li>
{% endfor %}
</ol>

<h2 id="votes">Votes</h2>
{% if response.data.bill.votes %}
{% for vote in response.data.bill.votes %}
<h3>{{vote.chamber|chamber}} vote on {{vote.date|datetime_raw|datetime_filter}}</h3>
<p>{{vote.motion}}</p>
<dl>
    <dt>Yes</dt>
    <dd>{{vote.yes_count}}</dd>
    <dt>No</dt>
    <dd>{{vote.no_count}}</dd>
</dl>

{#
<h3>Yes Votes</h3>
{% if vote.yes_count > 0 %}
<ol>
{% for item in vote.yes_votes %}
    <li>{{item.name}}<span class="dev" style="display:none;">{{item}}</span></li>
{% endfor %}
</ol>
{% else %}
<p>Nobody voted yes on {{response.data.bill.title}}.</p>
{% endif %}
#}

{% if vote.no_count > 0 %}
<h4>No Votes</h4>
<ol>
{% for item in vote.no_votes %}
    <li>{{item.name}}</li>
{% endfor %}
</ol>
{% endif %}
{% endfor %}

<!--
u'bill_chamber': u'lower', u'id': u'COV00013095', u'motion': u'On motion of Majority Leader Scheffel, the resolution was adopted by the following rollcall vote:call vote:', u'chamber': u'upper', u'state': u'co', u'session': u'2015A', u'sources': [{u'url': u'http://www.leg.state.co.us/CLICS/CLICS2015A/csljournals.nsf/(jousen)/846CA59657C151EA87257DC7005207A6/$FILE/jour_002.pdf'}], u'passed': True, u'date': u'2015-01-08 00:00:00', u'vote_id': u'COV00013095', u'type': u'other', u'no_count': 0, u'bill_id': u'COB00002830', u'no_votes': []}]
-->
{% else %}
<p>No votes recorded on the {{response.data.bill.title}} {{type}}.</p>
{% endif %}

<h2 id="revisions">Revision History</h2>
<ol>
{% for item in response.data.bill.versions %}
    <li><a href="{{item.url}}">{{item.doc_id}}: {{item.name}}</a></li>
{% endfor %}
</ol>

<h2 id="sources">Sources</h2>
<ol>
{% for item in response.data.bill.sources %}
    <li><a href="{{item.url}}">{{item.url|truncate(80, True)}}</a></li>
{% endfor %}
</ol>

<h2 id="documents">Documents</h2>
{% if response.data.bill.documents %}
{% for item in response.data.documents %}
<li><a href="{{item.url}}">{{item.url}}</li>
{% endfor %}
{% else %}
<p>No documents associated with the {{response.data.bill.title}} {{type}}.</p>
{% endif %}

<span class="dev" style="display:none;">
{{response.data.bill}}
</span>
<!-- ADD COMMENTING WIDGET -->

{% endblock content %}
