{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../../">Sessions</a>
&rsaquo; <a href="../">{{response.session}}</a>{% endblock breadcrumbs %}
{% block content %}
{% set type = response.data.bill.type.0 %}
<p>
    This {{type}} was created {{response.data.bill.action_dates.first|datetime_raw|datetime_filter}}
    and last touched {{response.data.bill.action_dates.last|datetime_raw|datetime_filter}}.
</p>

<dl>
    <dt>Introduced</dt>
        <dd>{{response.data.bill.action_dates.first|datetime_raw|datetime_filter}}</dd>
{% if response.data.bill.chamber == 'lower' %}
    <dt>Passed House</dt>
        <dd>{{response.data.bill.action_dates.passed_lower|datetime_raw|datetime_filter}}</dd>
    <dt>Passed Senate</dt>
        <dd>{{response.data.bill.action_dates.passed_upper|datetime_raw|datetime_filter}}</dd>
{% else %}
    <dt>Passed Senate</dt>
        <dd>{{response.data.bill.action_dates.passed_upper|datetime_raw|datetime_filter}}</dd>
    <dt>Passed House</dt>
        <dd>{{response.data.bill.action_dates.passed_lower|datetime_raw|datetime_filter}}</dd>
{% endif %}
    <dt>Signed</dt>
        <dd>{{response.data.bill.action_dates.signed|datetime_raw|datetime_filter}}</dd>
</dl>

{% if response.data.bill.versions.0 %}
<h2>The {{type|title}}</h2>
<iframe src="{{response.data.bill.versions.0.url}}" seamless style="width:100%; height:400px; max-width:650px;"></iframe>
{% endif %}

<h2 id="timeline">{{type|title}} Timeline</h2>
<ul>
{% for item in response.data.bill.actions %}
    <li>{{item.date|datetime_raw|datetime_filter}}: {{item.action}}<span class="dev" style="display:none;">{{item}}</span></li>
{% endfor %}
</ul>

<h2 id="sponsors">{{type|title}} Sponsors</h2>
<ol>
{% for item in response.data.bill.sponsors %}
    <li>{{item.name|title}}'s a {{item.type}} sponsor <span class="dev" style="display:none;">{{item.leg_id}}</span></li>
{% endfor %}
</ol>

<h2 id="revisions">{{type|title}} Revision History</h2>
<ol>
{% for item in response.data.bill.versions %}
    <li><a href="{{item.url}}">{{item.doc_id}}: {{item.name}}</a></li>
{% endfor %}
</ol>

<h2 id="votes">{{type|title}} Votes</h2>
{% if response.data.bill.votes %}
<p>{{response.data.bill.votes.0.motion}}</p>
<dl>
    <dt>Yes</dt>
    <dd>{{response.data.bill.votes.0.yes_count}}</dd>
    <dt>No</dt>
    <dd>{{response.data.bill.votes.0.no_count}}</dd>
</dl>

<h3>Yes Votes</h3>
{% if response.data.bill.votes.0.yes_count > 0 %}
<ol>
{% for item in response.data.bill.votes.0.yes_votes %}
    <li>{{item.name}}<span class="dev" style="display:none;">{{item}}</span></li>
{% endfor %}
</ol>
{% else %}
<p>Nobody voted yes on {{response.data.bill.title}}.</p>
{% endif %}

<h3>No Votes</h3>
{% if response.data.bill.votes.0.no_count > 0 %}
<ol>
{% for item in response.data.bill.votes.0.no_votes %}
    <li>{{item.name}}</li>
{% endfor %}
</ol>
{% else %}
<p>Nobody voted no on {{response.data.bill.title}}.</p>
{% endif %}

<!--
u'bill_chamber': u'lower', u'id': u'COV00013095', u'motion': u'On motion of Majority Leader Scheffel, the resolution was adopted by the following rollcall vote:call vote:', u'chamber': u'upper', u'state': u'co', u'session': u'2015A', u'sources': [{u'url': u'http://www.leg.state.co.us/CLICS/CLICS2015A/csljournals.nsf/(jousen)/846CA59657C151EA87257DC7005207A6/$FILE/jour_002.pdf'}], u'passed': True, u'date': u'2015-01-08 00:00:00', u'vote_id': u'COV00013095', u'type': u'other', u'no_count': 0, u'bill_id': u'COB00002830', u'no_votes': []}]
-->
{% else %}
<p>No votes recorded on the {{response.data.bill.title}} {{type}}.</p>
{% endif %}

<h2 id="sources">{{type|title}} Sources</h2>
<ol>
{% for item in response.data.bill.sources %}
    <li><a href="{{item.url}}">{{item.url|truncate(80, True)}}</a></li>
{% endfor %}
</ol>

<h2 id="documents">{{type|title}} Documents</h2>
{% if response.data.bill.documents %}
{% for item in response.data.documents %}
<li><a href="{{item.url}}">{{item.url}}</li>
{% endfor %}
{% else %}
<p>No documents associated with the {{response.data.bill.title}} {{type}}.</p>
{% endif %}

<hr>
<span class="dev" style="display:none;">
{{response.data.bill}}
</span>
<!-- ADD COMMENTING WIDGET -->

{% endblock content %}
