{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../../">Sessions</a>
&rsaquo; <a href="../">{{response.session}}</a>{% endblock breadcrumbs %}
{% block content %}
{% set type = response.data.bill.type.0 %}
<p>This {{type}} was created at {{response.data.bill.created_at}} and last updated at {{response.data.bill.updated_at}}</p>
{{response.data.bill.action_dates}}
<h2>{{type|title}} Timeline</h2>
<ol>
{% for item in response.data.bill.actions %}
    <li>{{item}}</li>
{% endfor %}
</ol>

<h2>{{type|title}} Sponsors</h2>
<ol>
{% for item in response.data.bill.sponsors %}
    <li>{{item}}</li>
{% endfor %}
</ol>

<h2>{{type|title}} Sources</h2>
<ol>
{% for item in response.data.bill.sources %}
    <li>{{item}}</li>
{% endfor %}
</ol>

<h2>{{type|title}} Revision History</h2>
<ol>
{% for item in response.data.bill.versions %}
    <li>{{item}}</li>
{% endfor %}
</ol>



<h2>{{type|title}} Votes</h2>
{% if response.data.bill.votes %}
<p>{{response.data.bill.votes.0.motion}}</p>
<dl>
    <dt>Yes</dt>
    <dd>{{response.data.bill.votes.0.yes_count}}</dd>
    <dt>No</dt>
    <dd>{{response.data.bill.votes.0.no_count}}</dd>
</dl>

<h3>Yes Votes</h3>
{% if response.data.bill.votes.0.yes_count > 0 %}
<ol>
{% for item in response.data.bill.votes.0.yes_votes %}
    <li>{{item}}</li>
{% endfor %}
</ol>
{% else %}
<p>Nobody voted yes on {{response.data.bill.title}}.</p>
{% endif %}

<h3>No Votes</h3>
{% if response.data.bill.votes.0.no_count > 0 %}
<ol>
{% for item in response.data.bill.votes.0.no_votes %}
    <li>{{item}}</li>
{% endfor %}
</ol>
{% else %}
<p>Nobody voted no on {{response.data.bill.title}}.</p>
{% endif %}

<!--
u'bill_chamber': u'lower', u'id': u'COV00013095', u'motion': u'On motion of Majority Leader Scheffel, the resolution was adopted by the following rollcall vote:call vote:', u'chamber': u'upper', u'state': u'co', u'session': u'2015A', u'sources': [{u'url': u'http://www.leg.state.co.us/CLICS/CLICS2015A/csljournals.nsf/(jousen)/846CA59657C151EA87257DC7005207A6/$FILE/jour_002.pdf'}], u'passed': True, u'date': u'2015-01-08 00:00:00', u'vote_id': u'COV00013095', u'type': u'other', u'no_count': 0, u'bill_id': u'COB00002830', u'no_votes': []}]
-->
{% else %}
<p>No votes recorded on the {{response.data.bill.title}}.</p>
{% endif %}

<h2>{{type|title}} Documents</h2>
{% if response.data.bill.documents %}
{% for item in response.data.documents %}
<li>{{item}}</li>
{% endfor %}
{% else %}
<p>No documents associated with the {{response.data.bill.title}}.</p>
{% endif %}

<hr>
{{response.data.bill}}
<hr>
<!-- ADD COMMENTING WIDGET -->

{% endblock content %}
