{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../../">Committees</a>
&rsaquo; <a href="../">{{response.chamber|capitalize}}</a>{% endblock breadcrumbs %}
{% block content %}
{# A committee detail looks like this:
{
    u 'members': [{
        u 'leg_id': u 'COL000114',
        u 'role': u 'chair',
        u 'name': u 'Brittany Pettersen'
    }, {
        u 'leg_id': u 'COL000059',
        u 'role': u 'member',
        u 'name': u 'Rhonda Fields'
    }, {
        u 'leg_id': u 'COL000120',
        u 'role': u 'member',
        u 'name': u 'Dominick Moreno'
    }, {
        u 'leg_id': u 'COL000193',
        u 'role': u 'member',
        u 'name': u 'JoAnn Windholz'
    }], u 'parent_id': None, u '+twitter': None, u 'created_at': u '2015-06-04 22:54:18', u 'updated_at': u '2016-03-13 09:55:02', u 'all_ids': [u 'COC000127'], u 'sources': [{
        u 'url': u 'https://www.colorado.gov/pacific/cga-legislativecouncil/house-education'
    }], u 'state': u 'co', u 'subcommittee': None, u 'committee': u 'Education', u 'chamber': u 'lower', u 'id': u 'COC000127'
}
#}
<p>{{response.app.page.description}}</p>
<h2 id="legislators">{{response.data.committee.committee}} legislators</h2>
<h3 id="leadership">Committee Leadership</h3>
<ul>
{% for item in response.data.committee.members|sort(attribute='role') %}
    {% if 'chair' in item.role or 'Vice-chair' in item.name %}
    <li>{{item.name}}{% if 'chair' in item.role %}, {{item.role}}{% endif %}</li>
    {% endif %}
{% endfor %}
</ul>
<h3 id="members">Committee Members</h3>
<ul>
{% for item in response.data.committee.members|sort(attribute='role') %}
    {% if 'chair' not in item.role and 'Vice-chair' not in item.name %}
    <li>{{item.name}}</li>
    {% endif %}
{% endfor %}
</ul>

<h2 id="legislation">{{response.data.committee.committee}} legislation</h2>
<ul>
{% for item in response.data.bills %}
    <li><span>{{item.bill.bill_id}}</span>: <a href="../../../bills/{{item.bill.session|lower}}/{{item.bill.bill_id|replace(" ", "_")|lower}}/">{{item.bill.title}}</a>: {{item.action.action}} on {{item.action.date|datetime_raw|datetime_filter}}
    </li>
{% endfor %}
</ul>
{% if response.data.bills|length == 0 %}
<p>No bills have been found to have been touched by this committee this session.</p>
{% endif %}
{% endblock content %}
