{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../">The Day In State Legislature</a>{% endblock breadcrumbs %}
{% block content %}
<p>
    A round-up of Colorado's state legislature on {{response.issue_date|date_raw|datetimeformat}}.
</p>
<p>
    {% if response.prev_next[0] %}
    PREVIOUS: <a href="../{{response.prev_next[0]}}/">See {{response.prev_next[0]|date_raw|datetimeformat}}'s events</a>.
    {% endif %}
    {% if response.prev_next[1] %}
    NEXT: <a href="../{{response.prev_next[1]}}/">See {{response.prev_next[1]|date_raw|datetimeformat}}'s events</a>.
    {% endif %}
</p>

{% if response.news %}
<h2 id="news">{% call add_intralink('news') %}{% endcall %}The legislature in the news</h2>
<ul>
{% for item in response.news -%}
    <li><a href="{{item.links[0].href}}">{{item.title}}</a></li>
{%- endfor %}
</ul>
{% endif %}

<h2 id="signed">{% call add_intralink('signed') %}{% endcall %}Legislation signed into law</h2>
{% if response.signed %}
<ul>
{% for item in response.signed %}
    <li><span>{{item.bill_id}}</span>: <a href="../../bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>No legislation signed into law on this day.</p>
{% endif %}

<h2 id="passed-house">{% call add_intralink('passed-house') %}{% endcall %}<a href="{{response.app.url_root}}bills/{{response.app.session}}/passed/lower/">Passed Colorado State House</a></h2>
{% if response.passed_lower %}
<ul>
{% for item in response.passed_lower %}
    <li><span>{{item.bill_id}}</span>: <a href="../../bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        {% if item.votes -%}
        passed {{item.votes.0.yes_count}} - {{item.votes.0.no_count}}
        {%- endif %}
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="{{response.app.url_root}}bills/{{response.app.session}}/passed/lower/">See a list of all the legislation that passed the Colorado State House in session {{response.app.session|upper}}</a>
</strong></p>
{% else %}
<p>No legislation passed the Colorado State House on this day.</p>
{% endif %}

<h2 id="passed-senate">{% call add_intralink('passed-senate') %}{% endcall %}<a href="{{response.app.url_root}}bills/{{response.app.session}}/passed/upper/">Passed Colorado State Senate</a></h2>
{% if response.passed_upper %}
<ul>
{% for item in response.passed_upper %}
    <li><span>{{item.bill_id}}</span>: <a href="../../bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        {% if item.votes -%}
        passed {{item.votes.0.yes_count}} - {{item.votes.0.no_count}}
        {%- endif %}
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="{{response.app.url_root}}bills/{{response.app.session}}/passed/upper/">See a list of all the legislation that passed the Colorado State Senate in session {{response.app.session|upper}}</a></p>
</strong></p>
{% else %}
<p>No legislation passed the Colorado State Senate on this day.</p>
{% endif %}

<h2 id="introduced">{% call add_intralink('introduced') %}{% endcall %}Introduced on this day</h2>
{% if response.introduced %}
<ul>
{% for item in response.introduced %}
    <li><span>{{item.bill_id}}</span>: <a href="../../bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="{{response.app.url_root}}bills/{{response.app.session}}/">See all the legislation that have been introduced this session</a></p>
</strong></p>
{% else %}
<p>No legislation introduced on this day.</p>
{% endif %}

<p><strong>
    <a href="{{response.app.url_root}}bills/{{response.app.session}}/">See all of the current session's bills</a>.</p>
</strong></p>

<p>
    {% if response.prev_next[0] %}
    PREVIOUS: <a href="../{{response.prev_next[0]}}/">See {{response.prev_next[0]|date_raw|datetimeformat}}'s events</a>.
    {% endif %}
    {% if response.prev_next[1] %}
    NEXT: <a href="../{{response.prev_next[1]}}/">See {{response.prev_next[1]|date_raw|datetimeformat}}'s events</a>.
    {% endif %}
</p>
{% endblock content %}
