{% extends "base.html" %}
{% block style %}
li span.date { color: #999; }
{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>{% endblock breadcrumbs %}
{% block content %}
<p>A round-up of what happened to which legislation, day by day in Colorado's state legislature.</p>

<ul>
{% for item in response.days|reverse %}
    <li><a href="{{item}}/">{{item|datetimeformat}}</a></li>
{%- endfor %}
</ul>

{% endblock content %}
