{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}

<h2>Current Legislation (<a href="./bills/{{response.app.session}}/">Session {{response.app.session|upper}}</a>)</h2>

<h3 id="introduced">Recently introduced</h3>
{% if response.introduced %}
<ul>
{% for item in response.introduced[:10] %}
    <li><span>{{item.bill_id}}</span>: <a href="./bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        (<a href="{{response.app.url_root}}the-day/{{item.action_dates.first|datetime_raw|date_raw}}/">{{item.action_dates.first|datetime_raw|datetime_filter}}</a>)
{# 
        {% with detail = item|bill_details(response.app.session) %}
        {{detail.action_dates.first}}
        {% endwith %}
#}
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="./bills/{{response.app.session}}/">See all the legislation that have been introduced this session</a></p>
</strong></p>
{% else %}
<p>No legislation introduced yet this session.</p>
{% endif %}

<h3 id="signed">Recently signed into law</h3>
{% if response.signed %}
<ul>
{% for item in response.signed[:10] %}
    <li><span>{{item.bill_id}}</span>: <a href="./bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        signed <a href="{{response.app.url_root}}the-day/{{item.action_dates.signed|datetime_raw|date_raw}}/">{{item.action_dates.signed|datetime_raw|datetime_filter}}</a>
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="./bills/{{response.app.session}}/signed/">See a list of all the legislation signed into law in session {{response.app.session|upper}}</a>
</strong></p>
{% else %}
<p>No legislation signed yet this session.</p>
{% endif %}

<h3 id="passed-house">Passed Colorado State House</h3>
{% if response.passed_lower %}
<ul>
{% for item in response.passed_lower[:10] %}
    <li><span>{{item.bill_id}}</span>: <a href="./bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        {% if item.votes %}
        passed {{item.votes.0.yes_count}} - {{item.votes.0.no_count}}
        {% endif %}
        on <a href="{{response.app.url_root}}the-day/{{item.action_dates.passed_lower|datetime_raw|date_raw}}/">{{item.action_dates.passed_lower|datetime_raw|datetime_filter}}</a>
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="./bills/{{response.app.session}}/passed/lower/">See a list of all the legislation that passed the Colorado State House in session {{response.app.session|upper}}</a>
</strong></p>
{% else %}
<p>No legislation passed the Colorado State House yet this session.</p>
{% endif %}

<h3 id="passed-senate">Passed Colorado State Senate</h3>
{% if response.passed_upper %}
<ul>
{% for item in response.passed_upper[:10] %}
    <li><span>{{item.bill_id}}</span>: <a href="./bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        {% if item.votes %}
        passed {{item.votes.0.yes_count}} - {{item.votes.0.no_count}}
        {% endif %}
        on <a href="{{response.app.url_root}}the-day/{{item.action_dates.passed_upper|datetime_raw|date_raw}}/">{{item.action_dates.passed_upper|datetime_raw|datetime_filter}}</a>
    </li>
{% endfor %}
</ul>
<p><strong>
    <a href="./bills/{{response.app.session}}/passed/upper/">See a list of all the legislation that passed the Colorado State Senate in session {{response.app.session|upper}}</a></p>
</strong></p>
{% else %}
<p>No legislation passed the Colorado State Senate yet this session.</p>
{% endif %}

<h3>Legislation updated {% if response.days_back == 0 %}Today{% else %}{{response.back_date|datetime_filter}}{% endif %}</h3>
<p>This is the most-recent date we've had any updates from the Colorado state legislature.</p>
<ul>
{% for item in response.bills %}
    <li><span>{{item.bill_id}}</span>: <a href="./bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
    </li>
{% endfor %}
</ul>

<p><strong>
    <a href="./bills/{{response.app.session}}/">See all of the current session's bills</a>.</p>
</strong></p>

<h3><a href="sessions/">Previous sessions</a></h3>
<ul>
{% for item in response.app.sessions[:-1]|reverse %}
    <li><a href="bills/{{item}}/">{{item}}</a></li>
{%- endfor %}
</ul>
{# {u'title': u'Sentencing For Certain 2nd Degree Assaults', u'created_at': u'2015-03-24 21:28:11', u'updated_at': u'2015-10-07 12:07:47', u'id': u'COB00003396', u'chamber': u'lower', u'state': u'co', u'session': u'2015A', u'type': [u'bill'], u'subjects': [], u'bill_id': u'HB 15-1303'} #}
<!--
<h2>Previous Legislation</h2>
<p>Here are bills from Colorado state legislature's previous sessions.</p>
-->
{% endblock content %}
