        <nav>
            <ul>
                <li><a href="{{response.app.url_root}}the-week/">The Week</a></li>
                <li><a href="{{response.app.url_root}}the-day/">The Day</a></li>
                <li><a href="{{response.app.url_root}}bills/">Legislation</a></li>
                <li><a href="{{response.app.url_root}}bills/2016a/#bill-table_filter">Search</a></li>
                <li><a href="{{response.app.url_root}}legislators/">Legislators</a></li>
                <li><a href="{{response.app.url_root}}committees/">Committees</a></li>
                <li><a href="{{response.app.url_root}}about/">About</a></li>
            </ul>
        </nav>
