{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="{{response.app.url_root}}legislators">Legislators</a>{% endblock breadcrumbs %}
{% block content %}
<h2></h2>
<p></p>
{#
{{response.legislators}}
#}
<ul>
{% for item in response.legislators -%}
    <li><a href="{{item.name_last|lower}}/">{{item.name_first}} {{item.name_last}}</a></li>
{% endfor %}
</ul>
{% endblock content %}
