{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="{{response.app.url_root}}legislators/">Legislators</a>
&rsaquo; <a href="{{response.app.url_root}}legislators/{{response.chamber}}/">{{response.chamber|capfirst}}</a>{% endblock breadcrumbs %}
{% block content %}
<p>Here are the legislators that have served {{response.chamber|capfirst}} district {{response.district}}.</p>
<ul>
{% for item in response.legislators -%}
    <li><a href="{{item.last_name|lower}}-{{item.id|lower}}/">{{item.first_name}} {{item.last_name}}</a></li>
{% endfor %}
</ul>
{% endblock content %}
