{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="{{response.app.url_root}}legislators">Legislators</a>{% endblock breadcrumbs %}
{% block content %}
{% with leg = response.legislator %}
<p>
    {{leg.name_first}} {{leg.name_last}} is a {{response.title}} in district {{leg.district}} in the Colorado state {{leg.chamber}}.
    District {{leg.district}} covers 
    {%- for item in leg.counties %} {{item}}, {% endfor %} counties.
</p>
{% if leg.occupation %}
<p>{{leg.name_first}} {{leg.name_last}} is a {{leg.occupation}}.</p>
{% endif %}
{{response.legislator}}
{% endwith %}
{#
<ul>
{% for item in response.app -%}
    <li><a href="{{item}}/">{{item|datetime_filter}}</a></li>
{% endfor %}
</ul>
#}
{% endblock content %}
