{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../">Sessions</a>{% endblock breadcrumbs %}
{% block content %}
<p>Bills from the {{response.session}} Colorado legislative session.</p>
<ul class="subnav">
    <li><a href="passed/">Passed bills</a></li>
    <li><a href="failed/">Failed bills</a></li>
</ul>

<h2>Bills</h2>
<ol>
{% for item in response.data.bills %}
    <li><span>{{item.bill_id}}</span>: <a href="{{item.bill_id|replace(" ", "_")|lower}}">{{item.title}}</a>
        ({{item.action_dates.first|datetime_raw|datetime_filter}})
    </li>
{% endfor %}
</ol>
{#
<!--
{u'title': u'Sentencing For Certain 2nd Degree Assaults', u'created_at': u'2015-03-24 21:28:11', u'updated_at': u'2015-10-07 12:07:47', u'id': u'COB00003396', u'chamber': u'lower', u'state': u'co', u'session': u'2015A', u'type': [u'bill'], u'subjects': [], u'bill_id': u'HB 15-1303'}
-->
#}
{% endblock content %}
