{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../">Sessions</a>{% endblock breadcrumbs %}
{% block head %}
<!-- DATATABLES STYLES -->
<link rel="stylesheet" type="text/css" href="http://extras.denverpost.com/app/bill-tracker/static/css/datatables.css"/>
<link href="https://cdn.datatables.net/responsive/2.0.1/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css"/>
<!-- DATATABLES SCRIPTS -->
<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.0.1/js/dataTables.responsive.js"></script>
<script src="http://extras.denverpost.com/summercamps/2016/ColumnFilterWidgets.js"></script>
<style>
.widget-2 {
    width: 30%;
    float: left;
    margin-right: 20px;
}
.widget-3 {
    width: 30%;
    float: clear;
}
</style>
{% endblock head %}
{% block content %}
<p>Bills from the {{response.session}} Colorado legislative session.</p>
<ul class="subnav">
    <li><a href="passed/">Passed legislation</a></li>
    <li><a href="failed/">Failed legislation</a></li>
</ul>

<h2>Legislation</h2>
<div class="row">
    <div class="large-12 columns">
        <table id="bill-table" class="stripe table-bordered">
            <thead>
                <tr>
                    <th></th>
					<th class="all">Title</th>
                    <th class="min-tablet">Chamber</th>
                    <th class="min-tablet">Type</th>
                    <th class="all">Bill ID</th>
					<th class="never">ID</th>
					<th class="never">State</th>
					<th class="never">Session</th>
                    <th class="none">Passed House</th>
					<th class="none">Passed Senate</th>
                    <th class="desktop">Introduced</th>
					<th class="min-tablet">Last Action</th>
					<th class="never">Signed</th>
					<th class="never">Subject</th>
				</tr>
            </thead>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

<script>
var data = {{response.json|safe}};
/* var testdata = [{
    "votes": [{
        "other_count": 1,
        "other_votes": [{
            "leg_id": "COL000170",
            "name": "Roupe"
        }],
        "yes_count": 64,
        "yes_votes": [{
            "leg_id": "COL000188",
            "name": "Ransom"
        }],
        "bill_chamber": "lower",
        "id": "COV00013283",
        "motion": "The question being \"Shall the bill pass?\". A roll call vote was taken. As shown by the following recorded vote, a majority of those elected to the House voted in the affirmative and the bill was declared passed.",
        "chamber": "lower",
        "state": "co",
        "session": "2016A",
        "sources": [{
            "url": "http://www.leg.state.co.us/CLICS/CLICS2016A/csljournals.nsf/(jouhse)/F9A7F8F7D50F323887257F5600596ACD/$FILE/Fb11.pdf"
        }, {
            "url": "http://www.leg.state.co.us/CLICS/CLICS2016A/csljournals.nsf/jouNav?Openform&House"
        }],
        "passed": true,
        "date": "2016-02-11 00:00:00",
        "vote_id": "COV00013283",
        "type": "other",
        "no_count": 0,
        "bill_id": "COB00003967",
        "no_votes": []
    }],
    "title": "P.O.S.T. Board Training Persons With Disabilities",
    "created_at": "2016-02-09 08:20:32",
    "updated_at": "2016-02-15 08:35:02",
    "id": "COB00003967",
    "chamber": "lower",
    "state": "co",
    "session": "2016A",
    "action_dates": {
        "passed_upper": null,
        "passed_lower": "2016-02-11 00:00:00",
        "last": "2016-02-12 00:00:00",
        "signed": null,
        "first": "2016-02-08 00:00:00"
    },
    "type": ["bill"],
    "subjects": [],
    "bill_id": "HB 16-1254"
},
{
    "title": "PERA Investments In Renewable Energy Companies",
    "created_at": "2016-02-05 08:06:09",
    "updated_at": "2016-02-05 08:06:09",
    "id": "COB00003927",
    "chamber": "lower",
    "state": "co",
    "session": "2016A",
    "action_dates": {
        "passed_upper": null,
        "passed_lower": null,
        "last": "2016-02-04 00:00:00",
        "signed": null,
        "first": "2016-02-04 00:00:00"
    },
    "type": ["bill"],
    "subjects": [],
    "bill_id": "HB 16-1207"
}
] */

var changeDate = function(data) {
    if (data == null) {
        return "n/a"
    } else {
        var readableDate = new Date(data);
        readableDate = (readableDate.getMonth() + 1) + "/" + readableDate.getDate() + "/" + readableDate.getFullYear();
        return readableDate;
    }
};

// DataTables
$('#bill-table').dataTable( { 
    data: data,
    order: [ 11, "des" ],
    paging: true,
    pagingType: 'numbers',
    pageLength: 20,
    responsive: true,
    columns: [ 
        {
            "className": 'details-control',
            "orderable": false,
            "data": null,
            "defaultContent": ''
        },
        { "data": "title" },
        { "data": "chamber" },
        { "data": "type" },
        { "data": "bill_id",
          "render": function(data, type, full) {
              return "<a href='" + data.replace(' ', '_').toLowerCase() + "/'>" + data + "</a>";
          }
        },
        { "data": "id" },
        { "data": "state" },
        { "data": "session" },
        { "data": "action_dates.passed_lower",
            "render": function(data, type, full) {
                console.log(data, changeDate(data));
                return changeDate(data); }
                /* if (data == null) {
                    return "n/a" 
                } else {
                    var readableDate = new Date(data);
                    readableDate = (readableDate.getMonth() + 1) + "/" + readableDate.getDate() + "/" + readableDate.getFullYear();
                    return readableDate;
                }
            } */
        },
        { "data": "action_dates.passed_upper" },
        { "data": "action_dates.first" },
        { "data": "action_dates.last" },
        { "data": "action_dates.signed" },
        { "data": "subjects" }
	],
    autoWidth: false,
    //deferRender: true,
    dom: '<"top">Wf<"clear">tip',
    // https://github.com/cyberhobo/ColumnFilterWidgets
    oColumnFilterWidgets: {
        aiExclude: [ 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ],
        // sSeparator: ',  ',
        bGroupTerms: false,
        /* aoColumnDefs: [
            //{ bSort: false, sSeparator: ' / ', aiTargets: [ 5, 13 ] },
            { bSort: false, aiTargets: [ 5, 13 ] },
            { fnSort: function( a, b ) { return a-b; }, aiTargets: [ 5, 13 ] }
        ] */
    }
} );

</script>

<h3>All legislation</h3>
<ol>
{% for item in response.data.bills %}
    <li><span>{{item.bill_id}}</span>: <a href="{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a>
        ({{item.action_dates.first|datetime_raw|datetime_filter}})
    </li>
{% endfor %}
</ol>
{% endblock content %}
