{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../../">Sessions</a>
&rsaquo; <a href="../">{{response.session}}</a>
{% endblock breadcrumbs %}
{% block content %}
<p>Legislation that {{response.passfail}} in the {{response.session}} Colorado legislative session.</p>
<ul>
    <li><a href="upper/">Legislation that {{response.passfail}} the state senate</a></li>
    <li><a href="lower/">Legislation that {{response.passfail}} the state house</a></li>
</ul>
<p>See also: <a href="../signed/">all the legislation signed into law this session</a>.</p>
{% endblock content %}
