{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="http://www.denverpost.com/bill-tracker">Bill Tracker</a>
&rsaquo; <a href="../../../">Sessions</a>
&rsaquo; <a href="../../">{{response.session}}</a>
{% endblock breadcrumbs %}
{% block content %}
<p>Legislation signed into law in the {{response.session}} Colorado legislative session.</p>
<ol>
{% for item in response.data.bills %}
    <li><span>{{item.bill_id}}</span>: <a href="../../../../bills/{{item.session|lower}}/{{item.bill_id|replace(" ", "_")|lower}}/">{{item.title}}</a> signed
           {{item.action_dates.signed|datetime_raw|datetime_filter}}
    </li>
{% endfor %}
</ol>
{% endblock content %}
