body { margin:0; }
#wrapper {
    width:1008px;
    margin:10px auto;
}
#dfmEndFooterLinks ul li {
    list-style-type:none;
    margin-left:15px!important;
}

@media only screen and (max-width: 768px) {
    /* Kill the nav */
    #dfmEndFooterLinks, #dfmHeader div.foot, #dfmHeader div.sub-navigation, #dfmHeader #dfmMasthead #dfmPageTitle, #dfmHeader #dfmMasthead #dfmSearch, #dfmHeader #dfmMasthead #weatherBoxReal, #dfmHeader iframe, #leaderBoardAd { display:none!important; }
    #dfmMasthead { height:40px!important; }
    #dfmHeader #dfmMasthead h3 { margin-left:.5em; }
    #dfmHeader div.page-head div.body { background:none; border:none; }
    #dfmHeader div.page-head div.body div.margin { width:100%; }
    #wrapper { width:100%; overflow:hidden; margin: .5em; }
    #top_leaderboard_wrap { display: none; }

    /* Adjust the layout */
    .adElement { width: 100%!important; }
    body h1, body h2, body h3, body h4, body h5, body h6 { line-height: 1; }
    body h1 { 
        width: 100%!important; 
        font-size: 2em!important;
    }

    /* Tweaks to align rows and make things clickable */
    div.body { height: 30px; }
    body dl dt { margin-bottom: 0.75rem; }
    .maincol, .sidebarcol { clear: both; }

    /* Fix line-height on breadcrumbs */
    #breadcrumbs { line-height: 14px; 
        margin-bottom: 10px;
    }
    /* Fix line-height on nav */
    nav ul { line-height: 0; 
        margin-bottom: 5px;
    }
    /* More line-height fixes */
    .stamp { margin-top: 10px;
    }
    /* We want bullets on list items on mobile to make lists more readable. */
    .row ul {
        list-style-type: disc;
        list-style-position: inside!important;
    }
}

footer { clear: both; }
footer p, #content-footer p { text-align: center; }
h3 { margin-top: 15px; }
hr {
    width: 80%;
    margin: 8px auto;
}
.ad { margin-bottom: 10px; }
.row { margin-left: 0; }
nav {
    clear: both;
}
nav ul li {
    display: inline;
}
nav ul li:after {
    content: " ~ ";
}
nav ul li:last-child:after {
    content: "";
}
.stamp, nav {
    font-family: Georgia, serif;
    font-style: italic;
    color: #aaa;
    text-align: center;
    width: 100%;
    line-height: 0.5;
}
.stamp span, nav ul span {
    display: inline-block;
    position: relative;  
}
.stamp span:before,
.stamp span:after,
nav ul:before,
nav ul:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    top: 0;
    width: 600px;
}
.stamp span:before,
nav ul:before {
    right: 100%;
    margin-right: 15px;
}
.stamp span:after,
nav ul:after {
    left: 100%;
    margin-left: 15px;
}

/*
#content-footer nav { 
    width:30%;
    margin: 0;
    padding: 0;
}
*/
#content-footer nav ul:before,
#content-footer nav ul:after 
{
    border: 0px none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: underline;
}
@media only screen and (min-width: 769px) {
.maincol {
    width: 650px;
    float: left;
}
.sidebarcol {
    width: 300px;
    float: right;
    margin-left: 15px;
}
}
